/* Tutorial made by Rene-F for AppSeed.us | 2022 | https://github.com/Rene-F */

/* reset styling */
html,
body
{
    width:  100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color:  #000;
}

/* variables */
:root
{
    --offcanvas-width: 300px;
    --topNavbarHeight: 56px;
    --transition-collapse: ease 0.5s;
}

/* sidebar width */
.side-bar
{
    width: var(--offcanvas-width);
}

/* sidebar links */
.sidebar-link
{
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon
{
    display: inline-flex;
    transition: all ease 0.5s;
}

/* collapse menu */
.collapsing
{
    transition: var(--transition-collapse);
}

/* chevron rotate on expand */
.sidebar-link[aria-expanded="true"] .right-icon
{
    transform: rotate(180deg);
}

/* sidebar visibility and navbar height */
@media (min-width: 990px)
{
    body
    {
        overflow: auto !important;
    }

    main
    {
        margin-left: var(--offcanvas-width);
    }

    .side-bar
    {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}

/* table styling */
.card,
.card-chart,
.card-table
{
    border-radius: 10px;
}

.card-chart
{
    background: rgb(240, 240, 240);
}

.chart
{
    background: rgb(230, 230, 230);
    border-radius: 5px;
}

.card-table
{
    background: rgb(240, 240, 240);
}

/* striped table effect */
tr:nth-child(even)
{
    background-color: rgb(250, 250, 250);
}

/* checkbox */
input[type=checkbox]
{
    height: 0px;
    width: 0px;
    visibility: hidden;
}

label
{
    cursor: pointer;
}


/* Tutorial made by Rene-F for AppSeed.us | 2022 | https://github.com/Rene-F */
